<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./styles/list-permission.css" />
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Gestión de Permisos</h1>

    <div class="text-center mt-3">
        <a href="/" sec:authorize="hasAuthority('READ-USER')" class="btn btn-secondary">Ir al Gestor de Usuarios</a>
        <a href="/list-roles" sec:authorize="hasAuthority('READ-ROLE')" class="btn btn-secondary">Ir al Gestor de Roles</a>
        <a href="/logout" class="btn btn-danger">
            <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
        </a>
    </div>

    <a href="/create-permission" sec:authorize="hasAuthority('WRITE-PERMISSION')" id="new" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i>
        Nuevo Permiso
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Recurso</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="permission : ${permissions}">
            <td th:text="${permission.id}"></td>
            <td th:text="${permission.name}"></td>
            <td th:text="${permission.resource}"></td>
            <td>
                <a th:href="@{/edit-permission/{id}(id=${permission.id})}" sec:authorize="hasAuthority('EDIT-PERMISSION')" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/delete-permission/{id}(id=${permission.id})}"
                   sec:authorize="hasAuthority('DELETE-PERMISSION')"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Estás seguro de que deseas eliminar este permiso?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
